.filter.affix {
	top:0;
}
.destinations {
	width:430px;
}
.destinations .imitate-dropdown {
	width:430px;
	height:48px;
	position:relative;
	margin:10px 0;
}
.dropdown-switcher {
	width: inherit;
	height:48px;	
	padding:10px;
	background-color: #2f7899;
	color:#fff;
}
.dropdown-box {
	margin-top:-5px;
}
.dropdown-box ul li {
	line-height:28px;
	padding:10px;
	background-color: #2f7899;
	color:#fff;
	cursor: pointer;
}
.dropdown {
    /*opacity: 0;*/
    transform:scale(0, 0);
    transition:all 0.3s ease;
    overflow: hidden;
    z-index: 100;
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    -moz-transform-origin:0 0;
    display:none;
}
a.close-dropdown {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: transparent;
}
#dropdown-box:target .dropdown {
    transform:scale(1, 1);
    /*opacity: 1;*/
    z-index: 9999;
    transition:all 0.3s ease;
    display:block;
}
#dropdown-box:target .close-dropdown {
    display: block;
}
.filterWrap {
	flex-flow:row wrap;
}
.checkbox {
	display:inline-block;
	padding:5px 20px;
	border-radius:30px;
	background-color:transparent;
	border:1px solid #fff;
	color:#fff;
	margin:5px 10px 5px 0;
	cursor: pointer;
}
.checkbox {
	flex:0 0 106px;
}
.checkbox.checked {
	background-color:#2f7899;
	border:1px solid #2f7899;
}

.filter .blueRBtn {
	font-size:1em;
	width:106px;
	height:36px;
	line-height:36px;
	padding:0;
	margin:0;
}
.filterConditions div {
	margin:5px;
	
}
.filterConditions div:after {
	content:"";
	display:inline-block;
	width:5px;
	height:5px;
	background-color:#fff;
	border-radius:5px;
	margin-left:5px;
	vertical-align: middle;
}
.filterConditions div:last-child:after {
	display:none;
}
@media screen and (max-width:1024px) { 
	.filter .blueRBtn {
		margin-top:10px;
	}
}
@media screen and (max-width:420px) {	
	.destinations {
		width:100%;
	}
	.destinations .imitate-dropdown {
		width:100%;
	}
	.filterConditions {
		flex-flow:row wrap;
	}

}
