.filter.affix {
	top:0;
}
.section.filter.editModel.affix-top {
	height:auto;
}
.destinations {
	width:430px;
}
select,
.destinations .imitate-dropdown {
	width:430px;
	height:48px;
	position:relative;
	margin:10px 0;
}

select,
.dropdown-switcher {
	display:inline-block;
	width: inherit;
	height:48px;	
	padding:10px;
	background-color: #2f7899;
	color:#fff;
}
select {
	border-radius:0;
	font-size:14px;
}
.dropdown-box {
	margin-top:-5px;
}

.dropdown-box ul li {
	line-height:28px;
	padding:10px;
	background-color: #2f7899;
	color:#fff;
	cursor: pointer;
}
.dropdown {
    opacity: 0;
    transform:scale(0, 0);
    transition:all 0.3s ease;
    overflow: hidden;
    z-index: 100;
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    -moz-transform-origin:0 0;
    /*display:none;*/
   	height:0;
}
a.close-dropdown {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: transparent;
}
#dropdown-box:target .dropdown {
    transform:scale(1, 1);
    opacity: 1;
    z-index: 9999;
    transition:all 0.3s ease;
    position:fixed;
    /*display:block;*/
    width:430px;
    height:auto;
}
#dropdown-box:target .close-dropdown {
    display: block;
}
.dropdownArrow {
	position:absolute;
	z-index:2;
	right:15px;
	top:21px;
	display:block;
	width:0;
	height:0;
	border-top:6px solid #fff;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	
}
.filterWrap {
	flex-flow:row wrap;
}
.checkbox {
	display:inline-block;
	padding:5px 20px;
	text-align:center;
	border-radius:30px;
	background-color:transparent;
	border:1px solid #fff;
	color:#fff;
	margin:5px 10px 5px 0;
	cursor: pointer;
}
.checkbox {
	/*flex:0 0 106px;*/
	font-size:14px;
}
.checkbox.checked {
	background-color:#2f7899;
	border:1px solid #2f7899;
}

.filter .blueRBtn {
	font-size:1em;
	width:106px;
	height:36px;
	line-height:36px;
	padding:0;
	margin:0;
}
.filter.filterResult .blueRBtn {
	margin-top:0;
}
.filterConditions div {
	margin:5px;
	
}
.filterConditions div:after {
	content:"";
	display:inline-block;
	width:5px;
	height:5px;
	background-color:#fff;
	border-radius:5px;
	margin-left:5px;
	vertical-align: middle;
}
.filterConditions div:last-child:after {
	display:none;
}
.section.filter.editModel.affix-top .expandIcon {
	display:none;
}
@media screen and (max-width:1024px) { 
	.filter .blueRBtn {
		margin-top:10px;
	}
	.filter.filterResult .blueRBtn {
		margin-top:0;
	}
}
@media screen and (max-width:425px) {
	.filter {
		font-size:1.2em;
	}
	.section.filter.editModel {
		padding-top:15px;		
	}
	.section.filter.editModel .site {
		position:relative;
	}
	.section.filter.editModel .site .expandIcon {
		position:absolute;
		/*top:18px;*/
		right:20px;
	}
	.section.filter.editModel.affix {
		height:49px;
		overflow:hidden;
	}
	.section.filter.editModel.affix.expand {
		height:auto;
		overflow:visible;
	}
	.section.filter.filterResult {
		padding:10px;
	}
	.dropdown-switcher {
		line-height:30px;
	}
	.filter .flex-row-start-start {
	    justify-content: flex-start;
	}		
	.destinations {
		width:100%;
	}
	.destinations .imitate-dropdown {
		width:100%;
	}
	.filterConditions {
		flex-flow:row wrap;
	}
	.checkbox {
		/*flex:0 0 100px;*/
	}
}
