h1 {
	position: absolute; 
	/*left:18%;*/
	top:50%;
	color:#fff;
	font-size:48px;
	line-height:68px;
	opacity: 0.9;
}
.yellowTxt {
	color:#f5a623;
	margin-right:5px;
}
.browse-page-container {
	height:auto;
}
.landing {
	font-size:14px;
	position: relative;
}
.twoThird {
	margin-left:0;
	margin-top:30px;
	padding:20px;
	margin-right:22px;
/*	width:66%;*/
}
.oneThird {
	/*width:33%;*/
	/*position:absolute;*/
	width:419px;
	right: 0;
}
.oneThird .card {
	margin-top:160px;
}
.blueRList {
	display:table;
	width:100%;
	padding-top:20px;
	padding-left:0;
	position:relative;
}
.blueRList>li {
	display:table-cell;
	width:100px;
	height: 100px;
	vertical-align: middle;	
	text-align:center;
	float: none;
    margin-bottom: 0;
}
.blueRList>li>a {
	display:block;
	width:80px;
	height:80px;
	background-color:#94c5db;
	border-radius:50%;
	vertical-align: middle;
	color:#fff;
	font-size:14px;
	margin:10px auto;
	text-align:center;
	line-height:80px;
	letter-spacing: 5px;
	padding-left:5px;
}
.blueRList>li>a,
.blueRList>li>a:hover,
.blueRList>li.active>a,
.blueRList>li.active>a:hover,
.blueRList>li.active>a:focus {
	border: none;
	text-decoration: none;
}
.blueRList>li.active>a:hover,
.blueRList>li.active>a:focus,
.blueRList>li.active>a,
.blueRList>li>a:hover {
	background-color:#2f7899;
	color:#fff;
}
.detailWrap {
	position: relative;
	border:1px solid #2f7899;
	border-radius:10px;
	padding:10px 20px;
	margin-top:20px;
}
.detailWrap ul {
	padding-left:20px;
}
.detailWrap .tab-pane {
	display:none;
}
.detailWrap .belongToArrow+.tab-pane{
	display:block;
}
.belongToArrow {
	position:absolute;
	border-bottom:10px solid #2f7899;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid transparent;
	top:-20px;
	left:30px;
}
.secArrow {
	position: absolute;
	border-bottom:10px solid #fff;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid transparent;
	top:-8px;
	left:-10px;
}
.detailWrap li,
.detailWrap dd {
	list-style: disc;
}
h5 {
	font-size:20px;
}
h6 {
	font-size:18px;
	font-weight:bold;
}
.home-trip-box {
	display: inline-block;
    width: 100%;
    background-color: #f7f5f0;
    padding: 20px;
    position: relative;
    font-size: 14px;
	font-size:12px;
	padding:35px 20px 10px;
}
.home-trip-box .imgWrap {
	display:block;
	width:inherit;
}
.home-trip-box .imgWrap img {
	display: block;
	margin: 0 auto;
	width: ;
}
.home-trip-box .infoWrap {
	padding:15px;
	display:block;
	width:100%;
	height:auto;
}
.itiIntro {
	display:none;
}
.itiPrice {
	position:static;
	top:90px;
	font-size: 18px;
}
.infoWrap .yellowBtn {
	position:static;
	width:inherit;
	height:40px;
	line-height: 40px;
	margin-top:10px;
}
.whyUsTxt .transparentTxt {
	font-size:14px;
}
.rightWrap .browse-banner-content-box h5 span {
	display:block;
	font-size:14px;
}
.site .flex-row-start-start+.card {
	display:none;
}
.rightWrapHead {
	display:none;
}
/* rewrite landing css START */
.browse-banner {
	height:276px;
}
.browse-banner .browse-banner-overlay {
	width:100%;
	height:300px;
	overflow:hidden;
}
.browse-banner .browse-banner-content-box {
	width:419px;
}
.browse-banner .browse-banner-content-box .ibWrap {
	width:100%;
}
/* rewrite landing css END */
@media screen and (max-width: 425px) {
	h1 {
		font-size:24px;
		left:5%;
		top:auto;
		bottom:5%;
		line-height:36px;
	}
	.browse-banner .browse-banner-content-box {
		width:100%;
	}
	.browse-banner {
		height:auto;
	}
	.browse-banner-bg {
		height:109px;
	}
	.header-nav.affix {
		opacity: 0;
	}
	.competitor .site h3 {
		font-size:18px;
		padding:20px 0 0;
	}
	.twoThird,
	.oneThird {
		display:block;
		width:100%;
	}
	.twoThird {
		margin-top: 0px;
	}
	.blueRList,
	.detailWrap {
		display:block;
		vertical-align: top;
	}
	/*.blueRList {
		width:50px;
	}*/
	.blueRList li {
		/*display:block;*/
		width:60px;
		height:40px;
	}
	.blueRList>li>a {
		width:45px;
		height:45px;
		margin:0;
		font-size:12px;
		line-height: 45px;
	}
	.detailWrap {
		/*width:80%;*/
		font-size:12px;
		padding-left:10px;
		line-height:24px;
		/*max-height:420px;
		overflow-y: auto;*/
	}
	.detailWrap h5 {
		font-size:16px;
	}
	h6 {
		font-size:14px;
		padding:5px 0;
	}
	.itiPrice {
		position:static;
		top:90px;
		font-size: 14px;
	}
	
	.belongToArrow,
	.secArrow {
		border-width: 6px;
	}	
	.belongToArrow {
		left:16px;
		top:-12px;
	}
	.secArrow {
		top:-5px;
		left:-6px;
	}
	.site .flex-row-start-start+.card {
	    display: block;
	    margin-top: 0;
	    background-color: transparent;
	}
	.rightWrap {
		width:100%;
	}
	.rightWrapHead {
		display:block;
		
	}
}