/*****************************************/
/*                Slider                 */
/*****************************************/
.swiper-container {
	width:1248px;
	height:540px;
	overflow:hidden;
}
.swiper-wrapper {
	height:496px;
}
.swiper-slide {
	position:relative;
}
.swiper-slide .sliderBg {
	width:1196px;
	display:block;
	height:496px;
	background-size:cover;
}
.bg1 {
	background:#efefef url('http://travelplus.ef.com.cn/sp/img/home-slider-1.jpg') center center no-repeat;
	background-size:cover;
}
.bg2 {
	background:#efefef url('http://travelplus.ef.com.cn/sp/img/home-slider-2.jpg') center center no-repeat;
	background-size:cover;
}
.bg3 {
	background:#efefef url('http://travelplus.ef.com.cn/sp/img/home-slider-3.jpg') center center no-repeat;
	background-size:cover;
}
.bg4 {
	background:#efefef url('http://travelplus.ef.com.cn/sp/img/home-slider-4.jpg') center center no-repeat;
	background-size:cover;
}
.bg5 {
	background:#efefef url('http://travelplus.ef.com.cn/sp/img/home-slider-5.jpg') center center no-repeat;
	background-size:cover;
}
.discount {
	position:absolute;
	right:0px;
	top:92px;
}
.event {
	position:absolute;
	width:461px;
	height:71px;
	bottom:208px;
	left:0;
}
.event .transparentBg {
	width:inherit;
	height:inherit;
	background-color:#f6a623;
	filter:alpha(opacity=50);
	opacity:0.5;
	mix-blend-mode: multiply;
}
.event .transparentTxt {
	text-align:left;
	color:#fff;
	padding-top:23px;
	font-size:1.8em;
	padding-left: 100px;
}
.recommand {
	position:absolute;
	width:461px;
	height:208px;
	bottom:0;
	left:0;
	background-color: #f4af39;
	color:#fff;
	padding-top:37px;
	font-size:20px;
	line-height:32px;
	font-weight:lighter;
}
.recommand p {
	padding-left:100px;	
}
.recommand .borderBtn {
	display:block;
	width:185px;
	height:48px;
	line-height: 45px;
	margin:20px 0 10px 100px;
	border:1px solid #fff;
	color:inherit;
	font-size:16px;
}
.recommand .borderBtn i.fa {padding-left:30px;}
footer {
	padding-bottom:20px;
}

/*****************************************/
/*                Vedio                  */
/*****************************************/
.features {
	width:600px;
	padding:50px 0 50px 80px;
	text-align:center;
}
.features .flex1 {margin:0 20px;}
.features p {
	text-align:left;
}
.wrap h4 {
	padding:72px 0 30px;
}
.videoWrap {
	height:301px;
	background-color: #94c5db;
	position:relative;
	
}
.videoWrap ul {
	color:#fff;
	padding:5.4em 0 10.3em 9.5em;
	width:500px;
	line-height:48px;
	font-size:16px;
	font-weight:lighter;
}
.videoWrap video {
	position:absolute;
	width:500px;
	height:302px;
	top:-38px;
	right:0;
	background-color:#eee;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.videoWrap i.fa {
	padding-right:30px;
}
/*****************************************/
/*                Itinerary              */
/*****************************************/
.graded {
	margin-bottom:31px;
}
.yellowBtn {
	display: block;
	margin:70px auto 73px;
}
/*****************************************/
/*                Media query            */
/*****************************************/
@media screen and (max-width:1196px) {
	.swiper-container {
		width:100%;
	}
}
@media screen and (max-width:1024px) {
	.wrap h2 {
		padding:20px;
	}
	.videoWrap {
		margin:1em;
	}
	.videoWrap video {
		width:40%;
		height:8;
		right:0;
		top:10%;
	}
	.features {
		padding-left:20px;
	}
}
@media screen and (max-width:800px) {			
	.discount {
		right:21px;
		top:21px;
	}
	.event,
	.recommand {
		width:100%;
	}
}
@media screen and (max-width: 600px) {
	.event .transparentTxt {
		text-align:left;
		padding-left:20px;
	}
	.recommand p {
		padding-left:20px;
	}
	.recommand .borderBtn {
		margin-left:20px;
	}
	.videoWrap {
		height:auto;
		margin-bottom:90px;
	}
	
	.videoWrap video {
		width:90%;
		height:174px;
		right:0;
		top:inherit;
		bottom:-70px;
	}
	.features {
		width:inherit;
		padding:10px;
		padding-bottom:120px;
	}

	.flex-row-start-around.features .iWrap,
	.features p {
		display:inline-block;
		vertical-align: middle;
	}
	.features p {
		display:inline-block;
		width:55%;
		margin-left:20px;
		padding-top:20px;
	}
	
	.yellowBtn {
		width:80%;
		margin-top:20px;
	}
}

