.flex-row-center-between {
	display:block;
}
.flex-row-center-between div,
.flex-row-center-start div,
.flexAuto {
	display:inline-block;
}
.flex-row-center-between li {
	display:inline-block;
}
.header .dialog  .flex-row-center-start {
	display:table;
}
.header .dialog  .flex-row-center-start .wechatImg,
.header .dialog  .flex-row-center-start .flexAuto,
.fixCAT .dialog  .flex-row-center-start .wechatImg,
.fixCAT .dialog  .flex-row-center-start .flexAuto {
	display:table-cell;
	vertical-align:top;
}
.header .flex-row-center-between,
.fixCAT {
	zoom:1;
}
.head-fix-right,
.fixCAT .flex-row-center-end {
	float:right;
}
.fixCAT .flex-row-center-end .hotline {
	display:inline-block;
	float:left;
	width:145px;
}
.fixCAT .flex-row-center-end a.orangeBtn {
	display:inline-block;
	width:100px;
}
.tourInfo .flex-row-start-between {
	overflow:hidden;
}
.tourInfo .rate {
	float:left;
}
.tourInfo .pinkTxt {
	float:right;
}
.features .flex1 {
	display:inline-block;
	width:25%;
}
.home-trip-box {
	display:inline-block;
	margin:15px 8px;
	vertical-align:top;
}
.home-trip-box .com_dialog {
	width:380px;
}
footer ul li {
	display:inline-block;
}
footer .flex-row-center-start div {
	display:inline-block;
	vertical-align:middle;
}
.whyUsTxt .transparentTxt {
	padding-top:90px;
}
.whyUsTxt .transparentTxt div:first-child {
	width:140px;
}
.whyUsTxt .transparentTxt div:last-child {
	width:135px;
}
.reasons div {
	display:inline-block;
	width:160px;
}
.includedItems div .imgWrap,
.reasons div .imgWrap {
	display:block;
	margin:20px auto;
}
.advantage .flex-col-center-center {
	display:inline-block;
	width:160px;
	text-align:center;
	margin:18px;
}
.flight .flex-row-start-between {
	display:table;
}
.flight .flex-row-start-between .airport {
	display:table-cell;
	width:20%;
}
.includedItems div {
	display:inline-block;
	vertical-align:top;
	width:160px;
	margin:0 10px;
	text-align:center;
}
.itineraryBasicInfo .flex1,
.itineraryHighLights .flex1 {
	display:inline-block;
	width:49%;
}
.itineraryLine .flex-row-start-between div{
	display:inline-block;
}
.itineraryLine .flex-row-start-between i {
	margin:0 10px;
}
.itineraryBasicInfo .flex1.flex-row-start-between {
	overflow:hidden;
}
.itineraryBasicInfo .flex1.flex-row-start-between .priceWG {
	float:left;
	margin-top:15px;
}
.itineraryBasicInfo .flex1.flex-row-start-between .priceWG+div {
	float:right;
}
.salesWrap .dialog .flex-row-start-around {
	overflow:hidden;
}
.salesWrap .dialog .flex-row-start-around img{
	float:left;
	margin-right:10px;
}
.salesWrap .dialog .flex-row-start-around p {
	display:inline-block;
}
.hotSale {
	overflow:hidden;
}
.hotSale .yellowTxt {
	float:left;
	margin-top:15px;
}
.hotSale .pinkTxt {
	float:right;
	margin-top:15px;
}
.defaultFooter {
	overflow:hidden;
}
.defaultFooter .flex-row-center-center+div {
	float:right;
	font-size:14px;
	margin-top:8px;
}
.icp  {
	text-align:center;
}
.popup.wechat {
	display:none;
}
/* fix mix-blend-mod */
.Oval-6 {
  background-color: #0076a2;/* compatibility for IE */
  opacity:0.5;
  filter:alpha(opacity=50);
}
.Oval-7 {
  margin-left:-80px;
  background-color:#efb14a;/* compatibility for IE */
}
.discount .transparentBg {
	/*background-color:#b80217; 
	opacity: 0.8;
	filter:alpha(opacity=80);
	-webkit-filter:(opacity=80);
	        filter:(opacity=80);*/
	background-color: #bd0fe1;
	opacity: 0.9;
	filter:alpha(opacity=90);
	-webkit-filter:(opacity=90);
	        filter:(opacity=90);
}
.transparentBg {
	background-color:#2f7899;
	opacity:0.8;
	filter:alpha(opacity=80);
	-webkit-filter:(opacity=80);
	        filter:(opacity=80);
	bottom:0;
}
.quotationBg {
	/*background-color:#f48b01;*/
	background-color:#fc9917;
}
/* fix transform */
.itineraryMap {
	width:720px;
	height:576px;
}
.itineraryMap img {
	padding:0;
	transform: scale(0,0);
}
