body {
	overflow-x:hidden;
}
.landingTop {
	position:relative;
}
.browse-banner {
	height: 376px;
}
.browse-banner-container {
	width:100%;
	
	/*min-height: 65px;*/
	/*overflow: hidden;*/
}
.leftWrap,
.rightWrap {
	display:inline-block;
}
.rightWrap {
	position:absolute;
	right:0;
	color:#fff;
}

.banner-share-topper {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 7px 15px;
}
.breadcrumbs li {
	display:inline-block;
    margin: 0px 10px 0px 0px;
    font-size:14px;
}
.breadcrumbs li:last-child .fa {
    display: none;
}
.breadcrumbs li a {
    padding: 0px 10px 0px 0px;
}
.landingInfo {
	width: 100%;
	height:256px;
	position: absolute;
	top:0;
}
.td .landingInfo {
	height:360px;
	top:-104px;
}
.landingInfo .transparentTxt {
    color: #fff;
    bottom: 0;
    padding: 18px 18px 18px 26px;
    font-size: 14px;
}
.landingInfo .transparentTxt img,
.landingInfo .transparentTxt img+p {
	display:inline-block;
	width:48%;
	vertical-align: top;
}
.landingInfo .transparentTxt img {
	margin-right:5px;	
}
.browse-banner-content-box h5 img {
	display:none;
}
.leftWrap {
	width:420px;
	margin-top:200px;
	position: relative;	
}
.card {
	background-color:#f0f2f4;
	color:#333;
	margin-top:256px;
	padding:20px;
}
.card.affix {
	z-index:8888;
	margin-top:0;
	top:40px;
}
.oneThird .card.affix {
	margin-top:0;
}
.card ul {
	padding-left:15px;
}
.card ul.ups {
	margin:40px 0;
}
.card ul li {
	list-style: disc;
}
.localGuide,
.like-minded,
.freeTime{
	mix-blend-mode: normal;
	display:none;
}
.localGuide,
.freeTime {
	width: 61px;
	height: 90px;
	background: url(../img/a.png);
    background-size: cover;
}
.like-minded{
	background: url(../img/bV.png) no-repeat;
    background-size: cover;
    width:61px;
    height:130px;
}
.freeTime {
	background: url(../img/c.png);
    background-size: cover;
}
.browse-banner {
    /*min-height: 200px;*/
    /*max-height: 500px;*/
    /*overflow: hidden;*/
    padding-top: 45px;
}
.browse-banner .browse-banner-overlay {
    position: absolute;
    width: auto;
    height: 100%;
    transform: translate(-50%, 0%);
    top: 0%;
    left: 50%;
}
.browse-banner .browse-banner-overlay {
    height: auto;
    width: 100%;
}
.browse-banner-content {
	position:absolute;
	/*float:left;*/
	width: 100%;
}

.landingInfo h5 {
	font-size:1.5em;

}
.landingInfo h1 {
	font-size:48px;
	line-height:48px;
	margin-bottom:15px;
}
.landingInfo h1.laliga {
	font-size:40px;
	margin-bottom:5px;
}
.td .landingInfo h1 {
	font-size:24px;
}
.landingInfo h5,
.landingInfo p {
	font-weight:normal;
}
.browse-banner .browse-banner-content {
	color:#fff;
    padding:0;
}
.browse-banner .browse-banner-content-box {
    margin-top:100px;
    background: #f5a623;
}
.browse-banner .browse-banner-content-box .ibWrap {
	vertical-align: middle;
}
.browse-banner .browse-banner-content-box h5 {
	padding:20px;
	padding-bottom:0;
	font-weight: normal;
	font-size:24px;
}
.quoWrap {
    color: #fff;
    width:358px;	
}
.downloadBg {
	border-left:1px solid rgba(255,255,255,0.5);	
	padding:40px 33px;
	cursor: pointer;
}
.downloadBg .blockImg {
	display:block;
	margin:15px auto;
}
.downloadBg p {
	font-size:12px;
	line-height:16px;
	text-align:center;
}
.oTrCorner {
	position:absolute;
	z-index:4;
	top:0;
	right:0;
	border-top:70px solid #eb6c04;
	border-right:70px solid #eb6c04;
	border-bottom:70px solid transparent;
	border-left:70px solid transparent;
}
.oTrCorner img {
	position:absolute;
	top:-55px;
	left:15px;
}
.browse-banner-content-box {
	position:relative;
}
.browse-banner-content-box .quoInfo {
	position: static;
	padding-bottom:10px;
}
.browse-banner-content-box .quoInfo form {
	padding-top:0;
	padding-bottom:10px;
}
.browse-banner-content-box .quoItem {
	display:inline-block;
	width:46%;
	margin-right:20px;
}
.browse-banner-content-box .quoItem:nth-child(2n) {
	margin-right:0;
} 
.browse-banner-content-box .quoItem label {
	color:#fff;
}
.browse-banner-content-box .quoInfo button {
	display:block;
	width:60%;
	height:40px;
	line-height:40px;
	font-size: 16px;
}
.mark {
	top:10px;
	right:-10px;
}



.oneThird,
.twoThird {
	display:inline-block;
	vertical-align: top;
}
.twoThird {
	width:750px;
	margin-left:446px;
}
.twoThird h4 {
	margin-top:0;
	position:relative;
	font-size:16px;
}
.twoThird h4 .frNote{
	position:absolute;
	right: 0;
	font-size:14px;
}
.whyUsTxt {
	position:relative;
	left:initial;
	top:auto;
	right:auto;
	margin:20px auto;
}
.whyUsTxt .transparentTxt {font-size: 1.2em;}
.whyUsTxt+h4 {
	margin-top:0;
}
.twoThird .flex-row-start-start {
	display:block;
}
.twoThird .home-trip-box {
	display: block;
	width:100%;
	background-color:#f7f5f0;
	margin:15px 0;
	padding:20px;
	position:relative;
	font-size: 14px;
}
.twoThird .home-trip-box a {
	display: block;
}
.imgWrap,
.infoWrap,
.agendaWrap  {
	display:inline-block;
	vertical-align: top;
}
.twoThird .home-trip-box .imgWrap {
	width:30%;
	height:213px;
	overflow: hidden;
	padding-bottom:0;
}
.twoThird .home-trip-box .imgWrap img {
	width:auto;
}
.twoThird .home-trip-box .infoWrap {
	position:relative;
	width:68%;
	height:213px;
	padding:20px;
	padding-top:0;
	padding-bottom:0;	
}
.itiPrice {
	position:absolute;
	right:20px;
	top:50px;
	font-size:30px;
}
/*.twoThird .home-trip-box .agendaWrap {
	width:20%;	
	background:transparent;
	margin-top:50px;
	padding-left:0;
	padding-right:0;
}*/
.twoThird .home-trip-box .agendaWrap .price {
	font-size:28px;
}
.itiName,
.itiDess,
.itiDays {
	font-size:18px;
	line-height:24px;
	/*margin-bottom:20px;*/
}
.itiDess,
.itiDays,
.twoThird .home-trip-box .rate {
	font-size:14px;
	margin-bottom:0;
}
.itiDess {
	height:24px;
	overflow:hidden;
}
.twoThird .hotSale {
	position: absolute;
	top:0;
}
.offerOutWrap {
	position:absolute;
	top:-6px;
	right:0;
}
.offerWrap {
	display:inline-block;
	padding:5px 10px;
	background-color:#94c5db;	
	color:#fff;
	text-align:center;
	position: relative;
}
.offerArrow {
	position:absolute;
	top:0;
	right:-7px;
	border-bottom: 2px solid #2f7899;
    border-left: 5px solid #2f7899;
    border-right:2px solid transparent;
    border-top:5px solid transparent;
}
.offerWrap.date {
	top:0;
	right:0;
}
.offerWrap.earlyBird {
	background-color: #bd0fe1;
	opacity: 0.9;
	margin-right:5px;
	mix-blend-mode: multiply;
}
.offerWrap.earlyBird .offerArrow {
	border-bottom: 2px solid #9101af;
    border-left: 5px solid #9101af;
}
.offerWrap.earlyBird.laliga {
	background-color:#000;
}
.offerWrap.earlyBird.laliga .offerArrow {
	border-bottom: 2px solid #666;
    border-left: 5px solid #666;
}
.twoThird .home-trip-box .grayBorderBtn {
	position:absolute;
	bottom:20px;
	right:0px;
	border:none;
	text-align:right;
}
.twoThird .infoWrap .yellowBtn {
	position:absolute;
	bottom:0;left:20px;
	display: block;
    width: 35%;    
    height: 36px;
    line-height: 36px;
    margin-top:12px;
}

/**/
.browse-page-container {
	height:520px;
	font-size:14px;
}
.browse-banner .browse-banner-overlay {
	height:500px;
}
.landingTop {
	position:static;
}
.browse-banner-content {
	width:1196px;
}
.browse-banner .browse-banner-overlay {
	top:auto;
}
.browse-banner {
	padding-top:0;
}

#thankYouPage {
	color:#fff;
	/*line-height:36px;*/
	text-align:center;
}
#thankYouPage h2 {
	line-height:48px;
}
#thankYouPage h2 .tips {
	font-size:12px;
	margin-bottom:20px;
}
#thankYouPage p {
	font-size:14px;
}
.michelin #thankYouPage h2 {
	line-height:58px;
	font-size:30px;
}
.michelin #thankYouPage p {
	text-align:left;
	font-size:16px;
}
.michelin #thankYouPage+.site {
	padding-top:50px;
}
.banner-ty {
    width: 100%;
    height: 480px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.button-download {
    color: #000;
    background-color: #FFF;
    height: 50px;
    min-width: 320px;
    font-family: 'Microsoft Yahei';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    border-radius: 40px;
    padding:0 20px;
    margin:5px 20px;
}
#thankYouPage button {}
#thankYouPage img {margin-top:20px;}
.cropImg {
	font-size:0;
	margin-bottom:20px;
}
.cropImg .ibWrap {
	width:100%;
	max-width:386px;
	height:216px;
	overflow:hidden;
	vertical-align: middle;
}
.cropImg .ibWrap.textWrap {
	width:48%;
	/*height:auto;*/
	padding:50px 30px;
	font-size:14px;
	background-color:#000;
	color:#fff;
}
.cropImg .ibWrap.textWrap h6 {
	font-size:20px;
	line-height:38px;
}
@media screen and (min-width: 768px) {
	.twoThird .card,
	.goBackStatusIcon,
	.rightWrapHead {
		display:none;
	}
}
@media screen and (max-width: 425px) {
	.spain .rightWrapHead,
	.italy .rightWrapHead,
	.germany .rightWrapHead,
	.france .rightWrapHead,
	.england .rightWrapHead {
		display:none;
	}
	.spain .browse-banner-content-box,
	.italy .browse-banner-content-box,
	.germany .browse-banner-content-box,
	.france .browse-banner-content-box,
	.england .browse-banner-content-box {
		display:block;
	}
	.header-nav.affix {
		opacity: 0;
	}
	.browse-banner-container {
		overflow: hidden;
	}
	.itiIntro,
	.card,
	.twoThird .home-trip-box .rate {
		display:none;
	}
	.browse-banner-bg {
		/*width:100%;*/
		height:259px;
	}
	.browse-banner .browse-banner-overlay {
		height:inherit;
		width:auto;
	}
	.browse-banner,
	.browse-page-container {
		height:auto;
	}
	.leftWrap {
		position: absolute;
		width:100%;
		top:-100px;
		margin-top:0;
	}
	.landingInfo,
	.td .landingInfo {
		width:100%;
		height:80px;
		top:20px;
	}
	.landingInfo .transparentTxt {
		padding:5px 18px 0 26px;
	}
	.landingInfo h1,
	.landingInfo h1.laliga {
		font-size:24px;
		line-height:24px;
	}
	.landingInfo h5 {
		font-size:1em;
	}
	.landingInfo p {
		display:none;
	}

	.twoThird {
		margin-left:0;
		width:100%;
		padding:10px;
	}
	.twoThird .home-trip-box {
		font-size:12px;
		padding:35px 20px 10px;
	}
	.twoThird .home-trip-box .imgWrap {
		display:block;
		width:inherit;
	}
	.twoThird .home-trip-box .imgWrap img {
		display: block;
		margin: 0 auto;
		width: ;
	}
	.twoThird .home-trip-box .infoWrap {
		padding:15px;
		display:block;
		width:100%;
		height:auto;
	}
	.itiPrice {
		position:static;
		top:90px;
		font-size: 18px;
	}
	.twoThird .infoWrap .yellowBtn {
		position:static;
		width:inherit;
	}
	.offerWrap {
		padding:1px 10px;
	}
	.twoThird .card {
		display:block;
		margin-top:0;
		background-color:transparent;
	}
	.rightWrap {
		position: fixed;
		z-index: 100000;
		bottom: 0;
		left:0;
		right: 0;
		height:auto;
	}
	.quoWrap {
		width:inherit;
	}
	.oTrCorner,
	.downloadBg{
		display:none;
	}
	.browse-banner-content-box {
		position: static;
		display:none;
	}
	.browse-banner .browse-banner-content-box {
		margin-top:0;
	}
	.browse-banner .browse-banner-content-box h5 {
		font-size:18px;
	}
	.goBackStatusIcon {
		position: absolute;
		top:20px;
		right: 10px;
	}
	.goBackStatusIcon .backgroundTrangle {
		border-top: 10px solid #f5a623;
	}
	.rightWrapHead {
		background: #f5a623;
		padding: 20px;
		font-size: 14px;
	}
	.browse-banner-content-box h5 img {
		display:block;
	}
	.button-download {
		height: 40px;
    	width: 70%;
		font-size:16px;
	}
	#thankYouPage p {
		font-size:14px;
		padding:0 20px;
	}
	.td .browse-banner-bg,
	.td .banner-share-topper {
		display:none;
	}
	.td .leftWrap {
		top:-20px;
	}
	.td .browse-banner-container {
		overflow: visible;
	}
	.td .landingInfo,
	.td .browse-page-container {
		height:330px;
	}
	.td .landingInfo h1 {
		font-size:20px;
	}
	.td .landingInfo .transparentTxt {
		padding-top:15px;
	}
	.cropImg .ibWrap.textWrap { 
		width:100%;
	}
}
@media screen and (max-width: 375px) {
	.twoThird .home-trip-box .infoWrap {
		padding:15px 0;
	}
	.td .landingInfo,
	.td .browse-page-container  {
		height:310px;
	}
}
@media screen and (max-width: 320px) { 
	.td .landingInfo,
	.td .browse-page-container  {
		height:420px;
	}
	.quoInfo form {
		padding:10px;
	}
	.browse-banner-content-box .quoItem {
		margin-right:5px;
	}
}