/*****************************************/
/*                  Wrap                 */
/*****************************************/
.noPadding {
	padding:0;
}
@media screen and (max-width:1196px) {
	.site {
		width:100%;
		/*overflow:hidden;*/
	}
	.header-nav {
		padding:20px;
	}
}
/* ipad horizontal - 15inch pc */
@media screen and (max-width:1024px) {
  .site {  	
		width: 980px;
		margin: 0 auto;
  }
  .section h4 {
  	padding:0 20px;
  	margin-top:0px;
  }
  	.header {
		width:inherit;
		padding:0 20px;
	}
	.flex-row-end-between {
		-webkit-box-align:center;
		    -ms-flex-align:center;
		        align-items:center;
	}
	.home-trip-box {
		-webkit-box-flex:0;
		    -ms-flex:0 0 300px;
		        flex:0 0 300px;
		/*margin:10px 0;
		margin-right:40px;*/
		margin:10px;
	}
	.home-trip-box .imgWrap {
		width:300px;
		height:196px;
	}
	.quotationBg,
	.quotationWrap {
		height:540px;
	}
	.quoInfo form h4 {
		margin:10px 0;
	}
	.recommend .home-trip-box .imgWrap {
		width:300px;
	}
}
/* iphone6p - ipad horizontal */
@media screen and (max-width: 768px) {
	.site {  	
		width: 680px;
		margin: 0 auto;
		/*padding: 0;*/  
    }
    .halfSite {
    		width:560px;
    }
    .header-logo img {
		width: 250px;
		height: 50px;
		margin: 0;
	}
	.header .borderBtn,
	.header .hotline {
		display:none;
	}	
	.features {
		width:380px;
	}
	.features .flex1 {
		margin:0 4px;
	}
	.header-nav.affix .head-fix-right {
		display:none;
	}
	.home-trip-box {
		-webkit-box-flex:0;
		    -ms-flex:0 0 300px;
		        flex:0 0 300px;
		/*margin:10px 0;
		margin-right:80px;*/
		margin:10px;
	}
	.home-trip-box .imgWrap,
	.recommend .home-trip-box .imgWrap {
	    width: 300px;
	}
	/*.home-trip-box:nth-child(3n) {
		margin-right:80px;
	}
	.home-trip-box:nth-child(2n) {
		margin-right:0;
	}*/
}
@media screen and (max-width: 600px) {
	.features {
		width:inherit;
		padding:10px;
		padding-bottom:120px;
	}
	.flex-row-start-around.features .iWrap,
	.features p {
		display:inline-block;
		vertical-align: middle;
	}
	.features p {
		display:inline-block;
		width:55%;
		margin-left:20px;
		padding-top:20px;
	}
	.triggeredLeadForm .quoInfo form {
		width:100%;
	}
	.triggeredLeadForm .quoItem {
		width:49%;
	}
	.triggeredFooterPop button {
		width:40%;
		margin-top:20px;
	}
}
/* min - iphone6p */
@media screen and (max-width: 425px) {
	.expandIcon {
		display:block;
	}
	.fixCAT .hotline span {
		display:none;
	}
	.notes+.section {
		padding-top:0;
	}
	.site {
		width:100%;
	}
	.halfSite {
		width:360px;
	}
	.header {
		padding: 0 20px !important;
	}
	.header .Oval,
	.header .Oval-5  {
		margin-right:0.2em;
	}
	.discount {
		right:21px;
		top:21px;
	}
	/*.section {
		padding-top:0;
	}*/
  	.section h4,
  	.site h4 {
  		font-size:20px;
  		padding:20px 10px 0;
  		margin:0;
  		line-height:24px;
  	}
  	.quotation h4 {
  		padding:25px;
  		font-size:24px;
  	}
  	.aboutUs .section h4 {
  		padding:10px 0;
  	}
    .header-nav.affix {
    	padding:10px;
    }
    footer ul {
    		padding:10px 0;
    		-webkit-box-pack: justify;
    		    -ms-flex-pack: justify;
    		        justify-content: space-between;
    }
    .header-nav.affix .head-fix-right.flex-row-center-between {
		display:none;
	}
	.header-logo img {
		width: 200px;
		height: 40px;
		margin: 10px 0;
	}
	.header-nav ul,
	.header-nav.affix ul,
	footer ul {
		width:100%;
	}
	.header-nav li, 
	.header-nav.affix li,
	footer ul li {
		font-size:14px;
		margin:0;
	}
	footer {
		padding:0 10px 50px;
	}
	.flex-row-start-between {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.features {
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
		text-align:left;
		width:auto;
	}
	.localGuide, 
	.like-minded, 
	.freeTime {
		width:61px;
		/*mix-blend-mode: luminosity;*/
	}
	.localGuide {
		height:90px;
	}
	.like-minded {
		background:url(../img/bV.svg) no-repeat;
		background-size:cover;
		height: 130px;
		/*mix-blend-mode: luminosity;*/
	}
	.grayBg .features .like-minded {
		background:url(../img/bV.png) no-repeat;
		background-size:cover;
	}
	.freeTime {
		height:90px;
	}
	.itineraryMap {
		float:none;
		width:100%;
	}
	.flex-row-start-start {
		-webkit-box-pack:center;
		    -ms-flex-pack:center;
		        justify-content:center;
	}
	/*.home-trip-box,
	.home-trip-box:nth-child(2n),
	.home-trip-box:nth-child(3n) {
		margin-right: 0;
	}*/
	.home-trip-box {
		margin-right:0;
	}
	.home-trip-box.earlyBird .hotSale .flex-row-start-between {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.home-trip-box {
		width:90%;
		margin:10px 0;
	}
	.recommend .home-trip-box .imgWrap {
	    width: 370px;
	}
	.quotationBg,
	.quotationWrap {
		height:480px;
	}
	.quoInfo form h4 {
		font-size:20px;
	}
	.quoInfo form {
		padding-top:1em;
	}
	.quoItem label {
		font-size:1.2em;
	}
	.yellowBtn {
		width:280px;
	}
	.whyUsTxt {
		right:inherit;
		width:276px;
		height:158px;
		font-size:inherit;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.Oval-6,
	.Oval-7 { 
		width:158px;
		height:158px;
	}
	.Oval-7 {margin-left:-44px;}
	/*****************************************/
	/*                Popup                  */
	/*****************************************/
	.popup {
		position:relative;
		overflow:hidden;
		display:none;
	}
	.popup .closePopup {
		position:fixed;
		z-index: 110000;
		top:10px;
		right:10px;
		color:#fff;
		font-size:2em;
	}
	.mask {
		display:block;
		position:fixed;
		overflow:hidden;
		z-index:99999;
		width:100%;
		height:100%;
		left:0;
		top:0;
		bottom:0;
		right:0;
		background-color:rgba(0,0,0,0.85);
	}
	.popupContainer {
		position:fixed;
		z-index: 100000;
		width:100%;
		height:100%;
		left:0;
		top:0;
		color:#fff;
	}
	.popupContainer .flex-wrap {
		height:100%;
		text-align:center;
		font-size:1.6em;
		line-height:2em;
	}
	.popupContainer .flex-wrap .wechatImg {
		margin-top:2em;
	}
	.triggeredFooterPop button { 
		width:98%;
	}
	/*footer {
		padding-bottom:396px;
	}*/
}
/* iphone6 plus */
@media screen and (max-width: 414px) {
	.recommend .home-trip-box .imgWrap {
	    width: 370px;
	}
}
/* iphone6 */
@media screen and (max-width: 375px) {
	.recommend .home-trip-box .imgWrap {
	    width: 337.5px;
	}
}
/* iphone5p */
@media screen and (max-width: 320px) {
	.halfSite {
		width:280px;
	}
	.header {
		padding-right:5px !important;
	}
	footer .flex-row-center-start .flexAuto p {
		width:160px;
	}
	.recommend .home-trip-box .imgWrap {
	    width: 288px;
	}
	.whyUsTxt { 
		right:0;
	}
	.quotationWrap .discount {
		right:0;
	}
}
/* bigger than */
@media screen and (min-width: 600px) {
	.popup {
		display:none;
	}
}
/*****************************************/
/*                Media query            */
/*****************************************/
