/*****************************************/
/*                  Wrap                 */
/*****************************************/
@media screen and (max-width:1196px) {
	.site {
		width:100%;
		/*overflow:hidden;*/
	}
	.header-nav {
		padding:20px;
	}
}
/* ipad horizontal - 15inch pc */
@media screen and (max-width:1024px) {
  .site {  	
		width: 980px;
		margin: 0 auto;
  }
  .section h4 {
  	padding-left:20px;
  	padding-right:20px;
  }
  	.header {
		width:inherit;
		padding:0 20px;
	}
	.flex-row-end-between {
		align-items:center;
	}
	.home-trip-box {
		flex:0 0 300px;
		margin:10px 0;
	}
	.quotationBg,
	.quotationWrap {
		height:500px;
	}
	
}
/* iphone6p - ipad horizontal */
@media screen and (max-width: 768px) {
	.site {  	
		width: 680px;
		margin: 0 auto;
		/*padding: 0;*/  
    }
    	.header-logo img {
		width: 250px;
		height: 50px;
		margin: 0;
	}
	.header .borderBtn,
	.header .hotline {
		display:none;
	}	
	.features {
		width:400px;
	}
	.trips .flex-row-start-between {
		flex-flow:row wrap;
	}
	.header-nav.affix .head-fix-right {
		display:none;
	}
}
/* min - iphone6p */
@media screen and (max-width: 420px) {
	.fixCAT .hotline span {
		display:none;
	}
	.site {
		width:100%;
	}
	.header {
		padding: 0 20px !important;
	}
	.header .Oval,
	.header .Oval-5  {
		margin-right:0.2em;
	}
	.swiper-slide .sliderBg {
		width:100%;
	}
	.discount {
		right:21px;
		top:21px;
	}
  	.section h4,
  	.site h4 {
  		font-size:20px;
  		padding:20px;
  		margin:0;
  	}
    .header-nav.affix {
    		padding:10px;
    }
    footer ul {
    		padding:10px 0;
    		justify-content: space-between;
    }
    .header-nav.affix .head-fix-right.flex-row-center-between {
		display:none;
	}
	.header-logo img {
		width: 200px;
		height: 40px;
		margin: 10px 0;
	}
	.header-nav ul,
	.header-nav.affix ul,
	footer ul {
		width:100%;
	}
	.header-nav li, 
	.header-nav.affix li,
	footer ul li {
		font-size:14px;
		margin:0;
	}
	footer {
		padding:0 10px 50px;
	}
	.flex-row-start-between {
		flex-direction: column;
		align-items: center;
	}
	.features.flex-row-start-around {
		flex-direction:column;
		text-align:left;
	}
	.localGuide, 
	.like-minded, 
	.freeTime {
		width:61px;
		mix-blend-mode: luminosity;
	}
	.localGuide {
		height:80px;
	}
	.like-minded {
		background:url(../img/bV@2x.png) no-repeat;
		background-size:cover;
		height: 130px;
		mix-blend-mode: luminosity;
	}
	.freeTime {
		height:80px;
	}
	.itineraryMap {
		float:none;
		width:100%;
	}
	.home-trip-box.earlyBird .hotSale .flex-row-start-between {
		flex-direction: row;
	}
	.home-trip-box {
		width:90%;
	}
	.trips .flex-row-start-between {
		flex-direction: column;
	}
	.quoInfo form {
		padding-top:0;
	}
	.quoItem label {
		font-size:1.2em;
	}
	/*****************************************/
	/*                Popup                  */
	/*****************************************/
	.popup {
		position:relative;
		overflow:hidden;
		display:none;
	}
	.popup .closePopup {
		position:fixed;
		z-index: 110000;
		top:10px;
		right:10px;
		color:#fff;
		font-size:2em;
	}
	.mask {
		display:block;
		position:fixed;
		overflow:hidden;
		z-index:99999;
		width:100%;
		height:100%;
		left:0;
		top:0;
		bottom:0;
		right:0;
		background-color:rgba(0,0,0,0.85);
	}
	.popupContainer {
		position:fixed;
		z-index: 100000;
		width:100%;
		height:100%;
		left:0;
		top:0;
		color:#fff;
	}
	.popupContainer .flex-wrap {
		height:100%;
		text-align:center;
		font-size:1.6em;
		line-height:2em;
	}
	.popupContainer .flex-wrap .wechatImg {
		margin-top:2em;
	}
}
/* iphone5p */
@media screen and (max-width: 320px) {
	.header {
		padding-right:5px !important;
	}
	footer .flex-row-center-start .flexAuto p {
		width:160px;
	}
}
@media screen and (min-width: 768px) {
	.popup {
		display:none;
	}
}
/*****************************************/
/*                Media query            */
/*****************************************/
