<div id="%name%" name="home-trip-box" class="home-trip-box" data-dest="%dest%" data-tag="%tag%">
	<a href="itinerary-%name%.php" >	
		<div class="imgWrap">
			<img src="img/itinerary/allTripsList/%name%.jpg" alt="" />
			<div class="hotSale" style="display:none;">
				<div class="transparentBg"></div>
				<div class="transparentTxt">
					<div class="yellowTxt">%cta%</div>
					<div class="pinkTxt">%offer%</div>
				</div>
			</div>
		</div>
		<div class="agendaWrap">
			<p>
				%title%
				<br/>
				%route%
			</p>
			<div class="rate">
				<i class="fa fa-star active" aria-hidden="true"></i>
				<i class="fa fa-star active" aria-hidden="true"></i>
				<i class="fa fa-star active" aria-hidden="true"></i>
				<i class="fa fa-star active" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div>
				%days%天
				<span class="delPrice">￥%price-list%</span>
				<span class="price">￥%price-act%<span>起</span></span>
			</div>
		</div>
	</a>
</div>